*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(199, 197, 197, 0.3);
}

header{
    display: flex;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    height: 17%;
    box-shadow: 0px 10px 10px 0px rgb(0,0,0,0.3);
    z-index: 100;
}
/*logo, titulo*/
.logo{
    display: flex;
}

#icono-logo{
    width: 6.1vw;
    height: 6.1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-right: .5vw;
    margin-left: .8vw;
    transform: rotateX('-50%');
}

#titulo-logo{
    font-size: 2,5vw;
    margin-top: 2.9vw;
    color: black;
}

#titulo-logo-a:link{
    text-decoration: none;
}

.input{
 justify-content: center;
 display: flex;
 margin-top: 2.8vw;
background-color: rgb(255, 255, 255);
 width: 55%;
 height: 35%;
 border-radius: 7%;
 border-color: #666;
 
}

#input-header{
    padding: 0% 33%;
    overflow: none;
    border-radius: 10px;
    border: 3% solid gray;
    margin-bottom:0;
    
}

#icon-input{
    position: absolute;
    display: block;
    margin-top: 0.7vw;
    margin-left: 43vw;
    cursor: pointer;

}

.logos-header img{
    width: 4vw;
    margin-left: 2vw;
    margin-bottom: 0.1vw;
    margin-right: 2vw;
    cursor: pointer;
    margin-top: 2vw;
    
}

/*#expandir{

    margin-top: 1%;
    width: 4vw;
    margin-left: 2.5%;
    margin-bottom: 0.7%;
}*/

.bars__menu{
    width: 3%;
    height: 35%;
    margin-top: 2.2vw;
    margin-left: 3.2vw;
    cursor: pointer;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 8%;
    margin-top: 0.8vw;
    background-color: black;
    transition: all 300ms;
    transform-origin: 0px 100%;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30%;
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-2px, 0.5px);
}

.menu__desplegable{
    position: absolute;
    top: 0;
    width: 17%;
    height: 100%;
}

.menu__desplegable-nav{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #1c1c1c;
    padding: 6.5rem;
   /* box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);*/
    text-align: center;
    display: flex;
    transition: all 300ms;
    position: fixed;
    z-index: 100;
}

.menu__desplegable-nav.visible{
    opacity: 1;
    visibility: visible;
}


.lista__menu-desplegable{
    flex-direction: column;
    align-items: end;
    list-style-type: none;
    justify-content: space-between;
}

.lista__menu-desplegable a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.3vw;
}


.lista__menu-desplegable li:hover{
    transform: scale(1.1);
    background-color:#1c1c1c;
}

/*esto es para la parte de la descripcion de los juegos*/

.padre-dec-juego{
    display: flex;
    margin-top: 8vw;
    width: 100%;
}

.plantilla-juego{
    width: 65vw;
    height: 40vw;
}


.img-juegos{
    margin-top: 3vw;
    margin-left: 2vw;
    width: 44vw;
    height: 35vw;
    background-size:contain;
    /*object-fit: cover;*/

}

#pasar-img{
    width: 5vw;
    margin-bottom: 15vw;
    margin-left: 2vw;
    cursor: pointer;
}

#retroceder-img{
    margin-left: 3vw;
    margin-bottom: 15vw;
    width: 5vw;
    cursor: pointer;
}

.descripcion-juego{
    margin-top: 3vw;
    width: 30vw;
    height: 40vw;
    margin-right: 2vw;
    background-color: rgba(116, 115, 115, 0.3);
}

.imagen-desc-logo{
    width: 30vw;
    height: 10vw;
}

.titulos-descripcion{
    margin-top: 1vw;
    margin-left: 2vw;
}

.texto-juego{
    font-size: 1vw;
    margin-top: 1vw;
    margin-left: 2vw;
    width: 25.9vw;
}

.contenedor-botones{
    margin-left: 3vw;
}

.botones-cat{
    width: 6vw;
    height: 2vw;
    margin-top: 1vw;
    margin-right: 0.5vw;
    background-color: darkgray;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.botones-cat:hover{
    background-color: rgba(54, 53, 53, 0.3);
}


/* Pagina Principal*/

.cabecera{
    display: flex;
    margin-top: 3.5vw;
    width: 100%;
    height: 100%;
    position: relative;
}
.padre__principal{
    text-align: center;
    width: 100%;
    height: 100%;
    
    
}
#titulo__img-cabecera{
    font-size: 4vw;
    text-align: center;

}


.imagenes__cabecera{
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img_cabecera{
    display: flex;
    width: 850px;
    height: 530px;  
}

.img_cabecera a img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.img_cabecera a img:hover{    
    cursor:pointer;
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}
/*Slider Juegos*/
.titulo__fila-juegos{
    width: 100%;
    height: 10%;
    text-align: initial;
    margin-top: 7vw;
    margin-bottom: 2vw;
}

.titulo__fila-juegos a{
    color: black;
}

.titulo__fila-juegos h2{
   margin-left: 5vw
}

.contenedor-slider{
    width: 90%;
    height: 17vw;
    margin-top: 1vw;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    border: 2%;
    border-radius: 1%;
    box-shadow: 10px 10px 10px 0px
                rgb(0, 0, 0, .5);
    /*box-shadow: 0 0 0 10px,
                0 10px 25px;*/
    position: relative;
    background-color:rgba(255, 255, 255);
}

.slider{
    display: flex;
    width: 450%;
    height: 16vw;
    margin-left: -112.4%;
    
}

.slider__section{
    width: 100%;
    display: flex;
    gap: 1vw;
}

.slider__section a{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 1.1vw;
    margin-right: 3.6vw;
    
}

.slider__img{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1.2%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 2.73vw;
    margin-right: 2.73vw;
}

.slider__btn img{
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    background: rgba(255, 255, 255, .7);
    top: 38%;
    border-radius: 50%;
    cursor: pointer;
    transform: rotateY(-38%);
}

.slider__btn img:hover{
    background-color:none;
    transform: scale(1.1);
}

.slider__pasar-img{
    left: 94%;
}

.slider__retroceder-img{
    right:94%;
}

/*slider2*/

.contenedor-slider2{
    width: 90%;
    height: 17vw;
    margin-top: 1vw;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    border: 2%;
    border-radius: 1%;
    box-shadow: 10px 10px 10px 0px
                rgb(0, 0, 0, .5);
    /*box-shadow: 0 0 0 10px,
                0 10px 25px;*/
    position: relative;
    background-color:rgba(255, 255, 255);
}

.slider2{
    display: flex;
    width: 450%;
    height: 16vw;
    margin-left: -112.4%;
    
}

.slider__section2{
    width: 100%;
    display: flex;
    gap: 1vw;
}

.slider__section2 a{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 1.1vw;
    margin-right: 3.6vw;
}

.slider__img2{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1.2%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 2.73vw;
    margin-right: 2.73vw;
}

.slider__btn2 img{
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    background: rgba(255, 255, 255, .7);
    top: 38%;
    border-radius: 50%;
    cursor: pointer;
    transform: rotateY(-38%);
}

.slider__btn2 img:hover{
    background-color:none;
    transform: scale(1.1);
}

.slider__pasar-img2{
    left: 94%;
}

.slider__retroceder-img2{
    right:94%;
}

/*slider3*/

.contenedor-slider3{
    width: 90%;
    height: 17vw;
    margin-top: 1vw;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    border: 2%;
    border-radius: 1%;
    box-shadow: 10px 10px 10px 0px
                rgb(0, 0, 0, .5);
    /*box-shadow: 0 0 0 10px,
                0 10px 25px;*/
    position: relative;
    background-color:rgba(255, 255, 255);
}

.slider3{
    display: flex;
    width: 450%;
    height: 16vw;
    margin-left: -112.4%;
    
}

.slider__section3{
    width: 100%;
    display: flex;
    gap: 1vw;
}

.slider__section3 a{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 1.1vw;
    margin-right: 3.6vw;
}

.slider__img3{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1.2%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 2.73vw;
    margin-right: 2.73vw;
}

.slider__btn3 img{
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    background: rgba(255, 255, 255, .7);
    top: 38%;
    border-radius: 50%;
    cursor: pointer;
    transform: rotateY(-38%);
}

.slider__btn3 img:hover{
    background-color:none;
    transform: scale(1.1);
}

.slider__pasar-img3{
    left: 94%;
}

.slider__retroceder-img3{
    right:94%;
}

/*slider4*/

.contenedor-slider4{
    width: 90%;
    height: 17vw;
    margin-top: 1vw;
    box-sizing: border-box;
    overflow: hidden;
    margin: auto;
    border: 2%;
    border-radius: 1%;
    box-shadow: 10px 10px 10px 0px
                rgb(0, 0, 0, .5);
    /*box-shadow: 0 0 0 10px,
                0 10px 25px;*/
    position: relative;
    background-color:rgba(255, 255, 255);
}

.slider4{
    display: flex;
    width: 450%;
    height: 16vw;
    margin-left: -112.4%;
    
}

.slider__section4{
    width: 100%;
    display: flex;
    gap: 1vw;
}

.slider__section4 a{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 1.1vw;
    margin-right: 3.6vw;
}

.slider__img4{
    max-width: 100%;
    width: 16.02vw;
    height: 15vw;
    max-height: 100%;
    margin-top: 1.2%;
    border-radius: 1vw;  
    display:block;
    object-fit: cover;
    margin-left: 2.73vw;
    margin-right: 2.73vw;
}

.slider__btn4 img{
    position: absolute;
    width: 4.5vw;
    height: 4.5vw;
    background: rgba(255, 255, 255, .7);
    top: 38%;
    border-radius: 50%;
    cursor: pointer;
    transform: rotateY(-38%);
}

.slider__btn4 img:hover{
    background-color:none;
    transform: scale(1.1);
}

.slider__pasar-img4{
    left: 94%;
}

.slider__retroceder-img4{
    right:94%;
}

/*Slider juegos Fin*/

.footer{
    margin-top: 6vw;
    background-color: #1c1c1c;
    height: 15vw;
    display: flex;
}

.primer-contenedor{
    display: flex;
    width: 50vw;
}

.segundo-contenedor{
    width: 30vw;
    margin-left: 20vw;
}

.tercer-contenedor{
    overflow: hidden;
    width: 100%;
}

.texto-footer{
    font-size: 1vw;
    color: white;
    width: 20vw;
    text-align: justify;
}

#img-footer{
    margin-top: 1vw;
    margin-left: 1vw;
    width: 4vw;
    height: 3vw;
}

#titulo-footer{
    margin-top: 2vw;
    margin-left: 1vw;
    color: white;
}

.titulos-footer{
    color: white;
    margin-top: 2vw;
    margin-right: 50vw;
    margin-bottom: 1vw;
}

.contenedor-links{
    margin-top: 1vw;
}

.linea-foot{
    position: absolute;
    width: 20vw;
    margin-bottom: 2vw;
}

#primer-link{
    margin-right: 56.3vw;
    color: white;
    font-size: 1vw;
    text-align: justify;
}

#segundo-link{
    margin-right: 56vw;
    color: white;
    font-size: 1vw;
    text-align: justify;
}

#tercer-link{
    margin-right: 58vw;
    color: white;
    font-size: 1vw;
    text-align: justify;

}


.links{
    margin-right: 57vw;
    color: white;
    font-size: 1vw;
}

/*go top*/

.top__container{
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    width: 4vw;
    height: 4vw;
    z-index: -1;
}

.top__button{
    width: 0;
    height: 0;
    background:#5f4e4e;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.top__button img{
    position: absolute;
    font-size: 2vw;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .top__button{
    animation: popup .3s ease-in-out;
    width: 3.3vw;
    height: 3.3vw;
    z-index: 11;
}

.show img{
    transform: translate(-50%, -50%) scale(1); 
}

@keyframes popup{
    0%{
        width: 0vw;
        height: 0vw;
    }

    50%{
        width: 4vw;
        height: 4vw;
    }

    100%{
        width: 3.3vw;
        height: 3.3vw;
    }
}
/* login */

#cabecera__login{
    width: 100%;
    height: 7vw;
}

#user__login{
    display: block;
    margin: auto;
    padding: 2vw;
    background-color: rgb(255, 38, 27);
    width: 22.4vw;
    height: 31vw;
    border-radius: 25px;
    border-color:black;
    font-size: 1vw;
    color: black;
    margin-top: 5%;
    border: none;
}

#user__login img{
    margin-left: 7.8vw;
    margin-right: 7vw;
}

.titulo-input{
    color: #171720;
    font-size: 1.3vw;
}

.inputs{
    padding: .5vw .1vw;
    margin-bottom: 2vw;
    background-color: #212331;
    border: none;
    outline: none;
    border-radius: 0.5vw;
    text-align: center;
    color: white;
    font-size: 1.5vw;
    color-scheme: white;
}

#link-login{
    font-size: 1vw;
    text-align: center;
    color: #171720;
    font-weight: bold;
}

#boton-login{
    padding: 1vw 4vw;
    border: none;
    margin-top: 2vw;
    margin-left: 3.8vw;
    margin-right: 4vw;
    background-color:#212331;
    border-radius: 0.5vw;
    color: red;
    font-size: 1vw;
    cursor: pointer;
}

#boton-login:hover{
    background-color: #171720;
    transform: scale(1.1);
}

#user__login-logo{
    width: 3vw;
    margin-left: 8.5vw;
}

#titulo-login{
    color: #171720;
    text-align: center;
    margin-bottom: 2vw;
}

#body__login{
background-image: url("https://wallpaperaccess.com/full/8406764.gif");
background-size: 100%;
}


/*esta parte es de la informacion y descripcion del juego*/

.padre-informacion-juego{
    display: flex;
}

.cont-req{
    display: flex;
}

.icon-req{
    width: 2.5vw;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
}

.informacion-juego{
    margin-top: 2vw;
    margin-left: 6vw;
}

.texto-informacion{
    margin-top: 1vw;
    width: 55vw;
    font-size: 1vw;
}

.subtitulos-informacion{
    margin-top: 1.5vw;
    margin-bottom: 1vw;
}

.titulos-informacion-juego{
    margin-top: 1vw;
}

.req-juegos{
    font-size: 1vw;
    margin-top: 0.1vw;
    width: 55vw;
}

hr{
    width: 60vw;
    margin-left: 4vw;
}

/*esta parte es de la compra y rese単a del juego*/

.cont-padre-compra{
    display: block;
}

.cont-precio-juego{
    display: flex;
}

.compra-juego{
    background-color: rgba(116, 115, 115, 0.3);
    margin-left: 4vw;
    margin-top: 2vw;
    width: 30vw;    
    height: 10vw;
}

.titulo-compra{
    margin-top: 2vw;
    position: absolute;
    margin-left: 1vw;
    text-align: center;
}

#precio-juego{
    margin-top: 6vw;
    margin-left: 1vw;
}

.boton-carrito{
    display: flex;
    justify-content: center;
    margin-top: 5.5vw;
    margin-left: 1vw;
    width: 4vw;
    height: 3vw;
    background-color: darkgray;
    border-radius: 0.5vw;
}

.boton-carrito:hover{
    background-color: rgba(54, 53, 53, 0.3);
    cursor: pointer;
}

.boton-compra{
    margin-top: 5.3vw;
    margin-left: 1vw;
    margin-right: 1vw;
    width: 10vw;
    height: 3vw ;
    background-color: darkgray;
    border: none;
    border-radius: 5%;
    font-size: 1vw;
    font-weight: bold;
}

.boton-compra:hover{
    background-color: rgba(54, 53, 53, 0.3);
    cursor: pointer;
}

.cont-rese単as{
    margin-top: 3vw;
    margin-left: 4vw;
    background-color: rgba(116, 115, 115, 0.3) ;
    width: 30vw;
    height: 31vw;
}

.titulo-rese単a{
    margin-top: 1vw;
    margin-left: 2vw;
    position: absolute;
}

.input-rese単a{
    margin-top: 27vw;
    margin-left: 4vw;
    padding: 0.7vw 6vw;
    background-color:rgba(54, 53, 53, 0.3) ;
    border: none;
    border-radius: 1vw;
    outline: none;
    color: black;
    font-size: 1vw;
}

.espacio-comentario{
    background-color:rgba(54, 53, 53, 0.3);
    width: 27vw;
    border-radius: 1vw;
    height: 22vw;
    margin-left: 1.6vw;
    margin-top: 4vw;
    position: absolute;
}

.icon-user2{
    margin-top: 27.2vw;
    margin-left: 1.5vw;
    width: 2.5vw;
    position: absolute;
}

/*esta parte es de categoria*/

.container{
    margin-top: 8vw;
    width: 100%;
    height: 100%;
    display: flex;
}

.cont-cat{
    position: fixed;
    background-color: white;
    width: 23vw;
    height: 30vw;
    margin-top: 4.5vw;
    margin-left: 4vw;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .5);
    border-radius: 1vw;
}

.cat{
    background-color: white;
    height: 4.5vw;
    width: 23vw;
    display: flex;
    margin-bottom: 1vw;
    border-radius: 1vw;
}

#img-cat-esp{
    width: 3vw;
    margin-left: 5vw;
}

#titulo-cat{
    margin-bottom: 1vw;
    margin-top: 1vw;
    margin-left: 1vw;
}

.cat:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, .5);
    cursor: pointer;
    background-color:rgb(201, 197, 197);
}

.img-cat{
    width: 3vw;
    margin-left: 5vw;
}

.nom-cat{
    margin-top: 1.5vw;
    margin-left: 1vw;
    color: #666666;
}

.cont-juegos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35.1vw;
    margin-top: 5vw;
    margin-left: 29vw;
}

.img-juegos-2{
    width: 20vw;
    height: 26.5vw;
    cursor: pointer;
    object-fit:fill;
    border-radius: 5%;
}

.img-juegos-2:hover{
    transform: scale(1.05);
}

.juegos{
    width: 22vw;
    margin-left: 1vw;
}

.titulos-juegos{
    margin-top: 1vw;
}

a{
    text-decoration: none;
}

/*soporte*/

.soporte{
    width: 100%;
}

.soporte h1{
    margin-top: 8vw;
    margin-left: 7vw;
}

.soporte h2{
    margin-left: 7vw;
}

.soporte p{
    margin-top: 1vw;
    margin-left: 7vw;
}

.soporte b{
    font-size: 1.6vw;
}